miniAOD_eventCont.C
*.png
*/*.png
*/*/*.png
*.root
*/*.root
plottingMacros/croppedJetIMG_*
*.npz
*.log
*.txt
*.pyc
*/*.pyc
*.hdf5
*.parquet*
.*.*
__init__.py
crab_MC
crab_MC/*
*/crab_MC
*/crab_MC/*
crab_bigProduction/
crab_bigProduction/*
crab_projects
crab_projects/*
*/crab_projects
*/crab_projects/*
*/crab_inference
*/crab_inference/*
dump_hbhereco_gluhtau.C
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
RecHitAnalyzer/test/BuildFile.xml
RecHitAnalyzer/test/test_catch2_RecHitAnalyzer.cc
RecHitAnalyzer/test/test_catch2_main.cc
convertRootFiles/condor/condorScripts*
convertRootFiles/condor/condorScripts*/*
RecHitAnalyzer/plugins/RHAnalyzer_runEvtSel_jet_ele_classification.cc.working
RecHitAnalyzer/test/crab_projects
RecHitAnalyzer/test/crab_projects/*
convertRootFiles/Untitled.ipynb
plottingMacros/croppedJetIMG
plottingMacros/croppedJetIMG/*
plottingMacros/event_images/
plottingMacros/event_images/*
plottingMacros/IMG
plottingMacros/IMG/*
produceMC/*.C
produceMC/Ruchi_HToTauTau_dump_event_content.C
produceMC/gen_GluGluHToTauTau_M125_13TeV_powheg_pythia8_old.py
